/*section 4 activités*/
.section4{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

/*bloc avtiivité*/
.boxactivites{
    display: flex;
    flex-direction: row;
    gap: 35px;
}

/*titre niveau 2*/
.section4 h2{
    width: 100%;
    margin-left: 50px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

/*card individuelle*/
.cardactivites{
    display: flex;
    flex-direction: column;
    border: solid white 1px;
    box-shadow: #F2F2F2 5px 3px 3px 1px;
    border-radius: 20px;
    width: 100%;
    margin-left: 50px;
}

/*bloc image*/
.cardactivites figure{
    height: 390px;
    display: flex;
    margin: auto;
    margin: 0px 0px 0px 0px;  
}

/*image*/
.cardactivites figure img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*lien*/
.boxactivites a{
    text-decoration: none;
    width: 100%;
}

/*titre niveau 3*/
h3{ 
    color: black;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-left: 10px;
}
