/*général*/
@import "normalize.css";
@import "header.css";
@import "search.css";

:root{ 
  --blue: #0065FC;
  --light-blue: #DEEBFF;
  --grey: #f2f2f2;
  font-family: 'Raleway', sans-serif;
}

body{ 
max-width: 1400px;
margin:auto;
}

