/*général*/
@import "normalize.css";
@import "header.css";
@import "search.css";
@import "filters.css";
@import "home.css";
@import "activite.css";
@import "footer.css";

:root{ 
  --blue: #0065FC;
  --light-blue: #DEEBFF;
  --grey: #f2f2f2;
  font-family: 'Raleway', sans-serif;
}

/*corps de page général*/
body{ 
  height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
}

