/*général*/

/*importation des fichiers css*/
@import "normalize.css";
@import "header.css";
@import "search.css";
@import "filters.css";
@import "home.css";
@import "activite.css";
@import "footer.css";

/*couleur du site et font family*/
:root{ 
  --blue: #0065FC;
  --light-blue: #DEEBFF;
  --grey: #f2f2f2;
  font-family: 'Raleway', sans-serif;
}

/*corps de page général*/
body{ 
  max-width: 1400px;
  margin: auto;
}


@media screen and (max-width:992px){

  .section3{
 
   display:flex;
   flex-direction:column;
   padding:0px 20px 0px 40px;
  }
  
  .section3 .boxhome{
    width:100%;
  }
  
  .boxpop{
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-around;
   width: 100%;
   height: 230px;
  }
  .boxpop .boxtitle{
   padding-left: 20px;
   padding-right: 30px;
   justify-content: space-between;
 }
 
  .cardpop{
   width: 30%;
   margin: 0px 0px 40px 0px;
  }
  .section4{
   padding:20px 25px 0px 50px;
  }
  .section5{
   gap: 15px;
  }
  }
 
  @media screen and (max-width:768px){
   header{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
   }
 
   figure{
     margin: 20px 0px 40px 0px;
     text-align: center;
   }
 
   header nav ul {
     display: flex;
 width: 100%;
 border-bottom: 3px solid #F2F2F2;
 padding-bottom: 10px;
 text-align: center;
   }
   header nav ul li a{
     padding: 0px 120px 0px 110px;
   }
 
   header nav ul li a:hover {
    border-top:none; 
     color:#0065FC;
     border-bottom:#0065FC 3px solid;
     width: 100%;
     padding-bottom: 10px;
  }
 }