
/*header*/
header{
display: flex;
justify-content: space-between;
align-items: center;
padding:20px;
}

header ul{
display: flex;
margin: 0px;
padding: 0px;
list-style-type: none;
gap: 40px;
}

header a{
text-decoration: none;
color: black;
font-size: 14px;
text-align: center;
padding: 15px;
}

img{
width: 25%;
}

nav {
margin:16px 40px;
}

a:hover {
color:#0065FC;
border-top:#0065FC 3px solid;
padding-top: 35px;
}



