/*section hébergement*/
.section3{
    display:flex;
    flex-direction: row;
    padding:20px 70px 0px 50px;
    margin: 0px 0px 0px 0px;
    gap: 50px;
  
}

/*bloc hébergement*/
.section3 .boxhome{
  width: 70%;
  margin: 10px;
  background: #F2F2F2;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0px 0px 0px 0px;
}

/*titre hébergement*/
.section3 .boxhome h2{
    display: flex;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-left: 25px;
    margin: 35px 0px 10px 0px;
}

/*bloc des 3 cards*/
.cardhome{
    flex-direction: column;
}

/*card seule*/
.card{
    flex-direction: column;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    width: 100%;
}

/*bloc des 6 cards*/
.bloccard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

/*bloc cadre image*/
figure.picture{
    display: flex;
    margin: auto;
}

/*image*/
figure.picture img{
    width: 100%;
    height: 130px;
    object-fit: cover;  
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 
}

/*titre niveau 3*/
div h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 10px 0px 4px 15px;
}

/*paragraphe*/
div p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 5px 0px 5px 15px;
}

/*bloc description et star*/
.boxhome div a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    line-height: 21px;
    margin: 5px 5px 5px 5px;
}

.boxhome div .afficherplus{
    display: flex;
    width: 100%;
    margin-left: 25px;
}

/* forme des icones*/
.star{
    font-size: x-small;
    color: #0065FC;
    margin-left:15px;
}

/*couleur dernière étoile*/
.clair{
    color: #F2F2F2;
}

/*bloc populaire*/
.boxpop{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 30%;
    padding: 0px 30px 20px 30px;
}

/*box titre populaire et icone*/
.boxpop .boxtitle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
}

/*titre niveau 2 populaire*/
.boxpop .boxtitle h2{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-top: 15px;
    width: 80%;
}

/*icone bloc populaire*/
.boxpop .boxtitle .courbe{
    padding-top: 20px;
    color: #0065FC;
    width: 1%;
}

/*carte populaire*/
.cardpop{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

/*carte populaire lien*/
.cardpop a{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    text-decoration: none;
    color: black;
}

/*carte bloc image*/
.cardpop figure {
   margin: 0px 0px 0px 0px;
   width: 35%;
}

/*image populaire*/
.boxpop .cardpop figure img{
    object-fit:cover;
    object-position:center;
    width: 100%;
    height: 122px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px 5px 0px 5px;
}

.boxpop div{
    width: 70%;
    margin-left: 10px;
}
/*icone star*/
.boxpop div div i{
    padding-top: 50px;
}
/*description des cards*/
div .carddescription{
    width: 100%;
    height: 50px;
    margin: 0px;
}


