.section3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding:20px 20px 0px 50px;
    width: min-content;
}

.section3 .boxhome{
  width: 200%;
  margin: 10px;
  background: #F2F2F2;
  border-radius: 25px;
  padding-left: 25px;
}

.section3 .boxhome h2{
    display: flex;
    font-size: 17px;
    font-weight: bold;
    padding-left: 10px;
}

.cardhome{
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    width:30%; 
    height:30%;
}

.bloccard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

figure.picture{
    display: flex;
    margin: 5px 5px 0px 5px;
}

figure.picture img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width:100%;
}

figcaption h3{
    font-size: 14px;
    margin: 4px 0px 4px 15px;
}

figcaption P{
    font-size: 12px;
    margin: 4px 0px 4px 15px;
}

.star{
    font-size: x-small;
    color: #0065FC;
    margin: 4px 0px 4px 15px;
}

.clair{
    color: #F2F2F2;
}