/*section hébergement*/
.section3{
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    gap: 50px;
    padding:0px 20px 0px 60px; 
}

/*bloc hébergement*/
.section3 .boxhome{
  width: 70%;
  height: 550px;
  background: #F2F2F2;
  border-radius: 25px;
}

/*titre hébergement*/
.section3 .boxhome h2{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    box-sizing: border-box;
    margin: 20px 0px 0px 35px;
}

/*bloc des 3 cards*/
.cardhome{
    flex-direction: column;
    padding: 30px 20px 0px 20px;
}

/*card seule*/
.card{
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
}

/*bloc des 6 cards*/
.bloccard{
    display:flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 25px;
    box-sizing: border-box;
}

/*bloc cadre image*/
figure.picture{
    display: flex;
    margin: 3px 3px 0px 3px;
 
}

/*image*/
figure.picture img{
    width: 100%;
    height: 90px;
    object-fit: cover;  
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
 
/*titre niveau 3*/
div h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
   margin:10px 10px 5px 15px;
}

/*paragraphe*/
div p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0px 0px 5px 15px;
}

/*bloc description et star*/
.boxhome div a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    line-height: 21px;
  
}

.boxhome div .afficherplus{
    display: flex;
    width: 100%;
    margin: 0px 0px 0px 30px;
}

/* forme des icones*/
.star{
    font-size: x-small;
    color: #0065FC;
    color: #0065FC;
    margin: 0px 0px 3px 15px;
}

/*couleur dernière étoile*/
.clair{
    color: #F2F2F2;
}

/*bloc populaire*/
.boxpop{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 30%;
    height: 550px;
    padding: 0px 0px 0px 0px;
}

/*box titre populaire et icone*/
.boxpop .boxtitle{
    display: flex;
   justify-content: space-around;
    align-items: center;
    margin-bottom: 0px;
    width: 100%;
}

/*titre niveau 2 populaire*/
.boxpop .boxtitle h2{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

/*icone bloc populaire*/
.boxpop .boxtitle .courbe{
    color: #0065FC;
    width: 1%;
}

/*carte populaire*/
.cardpop{
    display: flex;
    box-sizing: content-box;
    width: 100%;
}

/*carte populaire lien*/
.cardpop a{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    width: 100%;
    height: 120px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 15px;
    
}

/*carte bloc image*/
.cardpop figure {
   margin: 0px 0px 0px 0px;
   width: 35%;
}

/*image populaire*/
.boxpop .cardpop figure img{
    object-fit:cover;
    object-position:center;
    width: 100%;
    height: 112px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px 5px 0px 5px;
}

.boxpop div{
    width: 70%;

}
/*icone star*/
.boxpop div div i{
    padding-top: 50px;
}
/*description des cards*/
div .carddescription{
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 40px;
    margin: 0px;
}


