/*main*/

.section1{
display: flex;
flex-direction:column;
padding:20px;
}

h1{
display: flex;
padding-left: 35px;
font-size: 18px;
font-weight: bold;
}

p{
display: flex;
padding-left: 35px;
margin-bottom: 20px;
margin-top: 0px;
font-size: 14px;
}

form{
display: flex;
font-size: 16px;
margin-left: 35px;
border: 2px solid #f2f2f2;
border-radius: 10px;
padding: 0px 9px;
width: 320px;
}

form input{
outline: none;
}

form .fa-location-dot{   
display: flex;
justify-content: center;
align-items: center;
}

form input{
border: none;
}

input{
margin-left: 15px;
}

input::placeholder {
color:black;
font-weight: bold;
font-size: 14px;
}

input:focus:-moz-placeholder {
color: transparent;
}

input:focus::-moz-placeholder {
color: transparent;
}

form button{
border: none;
border-bottom-right-radius: 8px;
border-top-right-radius: 8px;
background-color: #0065FC;
color:white;
padding: 0px 20px;
cursor: pointer;
font: bold 12px Raleway;
letter-spacing: 1px;
}

form div{
display: flex;
}

form div i{
border: solid 3px transparent;
background-color: #f2f2f2;
border-bottom-left-radius: 8px;
border-top-left-radius: 8px;
height: 32px;
width: 32px;
margin: 0px -10px;
}