
.menu  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.btn{ border: none;
background: none;}

.filter-icon{ display: flex;}

.search{
  display: flex;
}
.search-box{
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  width:auto;
  margin-bottom: 30px;
}

.info{display: flex;}


.sizes{ width: 30%;}
.decoration{text-decoration: none;}
.colorlink1{color: #0065fc;}
.colorlink2{color:black;}
.size{
  width: 140px;
height: 99px;}

.general{
  display: flex;
  justify-content: center;
  align-items: center;}

.bordurenav{
  border-top: 1px solid #0065fc;
}
.hebergement{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

html, body{
  font-family:raleway;
}

.fa-info{
  display: flex;
  align-items: center;
  width:30px;
  height:30px;
  text-align:center;
  border-radius:400px ;
  border-color:black;
  
}

#box-hebergement{
 align-content: center;
  flex-wrap: wrap;
justify-content:space-between;}

.box-marseille{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width  :600px;
  height : 600px;
}

.card-herbergement-picture{
  width: 100px;
}
img {
  width:80px;
  height: 80px;
 }



.card-top-hebergement{
  display: flex;
  flex-direction: row;
flex-wrap: nowrap;
justify-content:flex-start;
}

.card-down-hebergement{
  display: flex;
  flex-direction: row;
flex-wrap: nowrap;
justify-content:flex-start;
margin-top: 20px;}

.card-hebergement{
display: flex;
flex-direction: column;
align-content:stretch;
flex-wrap: wrap;
}

.card1-box {
  margin-right: 10px;
  margin-left: 10px;
}
.card2-box {
  margin-right: 10px;
  margin-left: 10px;
}
.card3-box  {
  margin-right: 10px;
  margin-left: 10px;
}
.card4-box  {
  margin-right: 10px;
  margin-left: 10px;
}
.card5-box  {
  margin-right: 10px;
  margin-left: 10px;
}
.card6-box  {
  margin-right: 10px;
  margin-left: 10px;
}

.card1-box-pop{
  display: flex;
  flex-direction: column;
}


.box-populaire{
  display: flex;
  flex-direction: column;
  justify-content:right;
}
#box-activites{
  display: flex;
  flex-direction: column;
}
.card-activites{ 
  display: flex;
flex-direction: row;
justify-content: space-between;}


a:link 
{ 
 text-decoration:none; 
color:black;
} 

#footer-box{ display: flex;
flex-direction:row;
justify-content: space-between;}