@media (max-width: 768px) {
    
}
html {
    font-family: "Raleway", sans-serif;
  }
h1 h2 p { font-size: large;}

header {
  display: flex;
  justify-content: space-between;
}
header #logo {
  padding: 25px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header #logo img {
  width: auto;
  height: 30px;
}

#filtre {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 20px;
}

#filtre .filtre-box {
  margin: 0px 20px;
  border-radius: 30px;
  border: 2px solid#F2F2F2;
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 1s;
}

#filtre .filtre-box i {
  background-color: #DEEBFF;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  color: #0065fc;
  display: flex;
  align-items: center;
  justify-content: center;
}

#filtre .filtre-box:hover {
  transition: background-color 1s;
  background-color: #DEEBFF;
}

#filtre .filtre-box .text {
  padding: 0px 10px;
}

.info {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
  width: 100%;
}
.info .fa-solid.fa-info {
  color: #0065fc;
  border: 1px solid #F2F2F2;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.icon .fa-solid.fa-location-dot{
  color: black;
  border:5px solid #F2F2F2 ;
  border-radius: 100%;
}
.search-box {
  display: flex;
  border: 1px solid#F2F2F2 ;
  border-radius: 2px;
  width:auto;
  margin-bottom: 30px;
}
.search-box .form-icon {
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-radius:10px;
}
