.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergement{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tailles{ width: 30%;}
.decorationNone{text-decoration: none;}
.colorlien1{color: #0065fc;}
.colorlien2{color:black;}
.taille{
  width: 140px;
height: 99px;}

.general{
  display: flex;
  justify-content: center;
  align-items: center;}

.bordurenav{
  border-top: 1px solid #0065fc;
}

html, body{
  font-family:raleway;
}